@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto&display=swap');

*{
    padding:0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    background-color: black;
    background-image: url(../imgs/BackGround.png);
    width: 100vw;
    height: 100vh;
    background-size: cover;
}



.headerContainer{ /*É tipo o container pai da barra, nele esta incluso o logo e a bar*/
    height: 100%;
    width: 100vw;
    display: flex; /*Toda div fica em colum, quando eu coloco o display flex, ele fica flex, aí eu posso definir a direção deles se eu quero em linha (vai ser o padrao do display flex) ou se eu vou querer em coluna mesmo(que é o padrão da div sem a propriedade "display: flex;")*/
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    
}

.bar{/*mexe no container em que os botoes da barra left-top estão, mas obedece o container do header*/
    padding-right: 20px;
    display: flex;
    gap: 15px;
    font-family: 'Poppins', sans-serif;
}

.logo{ /*propriedades do logo em <X>*/
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    padding-left: 70px;
}

.span1{
    color: #4C259C;
}

.span2{
    color: white;
}

.span3{
    color: #4C259C;
}

.botao{ /*estiliza os elementos da class botao*/
    color: #959595;
    background-color: transparent;
    transition: background-color 0.5s ease;
    border-radius: 6%;
}

.botao:hover {
    background-color: #494848; /* Cor do botão quando o mouse passa por cima */
}

.bar button{ /*Mexe em todo button dentro da class bar*/
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);   
    cursor: pointer;
    background-color: #000000;
    transition: background-color 1s ease;
}



a{
    text-decoration: none; /* Remove sublinhado padrão */
    color: inherit; /* Herda a cor do texto do elemento pai */
}


main{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin: 6vw;
}

.titulos{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contatoContainer{
    display: flex;
    margin-left: 50px;
    background-color: rgba(240, 248, 255, 0);/*usando pra ver o tamanho da box do container pra nao me perder*/
    flex-direction: column;
}

.apresentacao{
    color: aliceblue;
    white-space: pre-line;
    width: 500px;
}

.botaoContato {
    margin-left: 250px;
    width: 50%;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: 5px outset #050259;
     /*colocando gradiente na borda do meu botao*/
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.5s ease;
}

.botaoContato:hover {
    background-color: #494848; /* Cor do botão quando o mouse passa por cima */
}



